.form{
    margin: 40px;
    border: 1px solid gray;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 10px gray;
    background-color: gray;
    padding: 20px;
}
.booking{
    margin-top: 150px;
    color: rgb(243, 210, 23);
}
.bg{
    background-image: url('..//Image/Rectangle\ 1.png');
    background-size: cover;
    background-position: center;
    
}
    